.list-item {
  display: flex;
  border: 1px solid;
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

.list-item__link {
  border: 1px solid;
  padding: 2em;
  display: block;
  border-radius: 12px;
}

/* //TODO move to relevant file */
.app__input--light,
.search-box__submit--light {
  background-color: white;
}

.app__input--dark,
.search-box__submit--dark {
  background-color: tan;
}
